body {
    font-family: sans-serif;
    text-align: center;
}

[aria-haspopup='listbox'] {
    /* display: inline-block; */
    display: flex;
    font-size: 1rem;
    cursor: default;
    user-select: none;
    padding: 0;
    background: grey;
    border-radius: 50%;
}

[role='listbox'] {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    outline: 0;
}

[role='option'] {
    padding: 0.75rem;
    font-size: inherit;
    border: none;
    text-align: left;
    outline: 0;
    border-width: 1px;
    border-color: black;
    background-color: white;
    color: darkgrey;
}
